<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllContactInfoScrapper.appsettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AllContactInfoScrapper.appsettings>
            <setting name="MinDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDelay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxPages" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ResultPerPage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SearchEngineDefaultCountry" serializeAs="String">
                <value>.google.com</value>
            </setting>
            <setting name="SearchEngineDefaultLanguage" serializeAs="String">
                <value>any</value>
            </setting>
        </AllContactInfoScrapper.appsettings>
    </userSettings>
</configuration>